.header {
    max-width: 1000px;
    width: calc(100% - 40px);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 2px solid var(--black-600);
    background-color: var(--black-700);
    padding: 12px 10px;
    margin: 10px;
    border-radius: 12px;
    user-select: none;
    align-self: center;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.headerBtnDiv {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid var(--black-600);
}

.headerBtn {
    background-color: var(--black-600);
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 34px;
    transition: all 0.2s ease;
    color: var(--black-300);
}

.headerBtn svg {
    transition: color 0.2s ease;
}

.headerBtn:hover {
    background-color: var(--black-800);
    transform: scale(1.05);
}

.headerBtn:hover svg {
    color: var(--black-50);
}

.headerBtn:active {
    transform: scale(0.93);
    transition: all 0.05s ease;
}

.headerBtnDiv .headerBtn:nth-child(even) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.headerBtnDiv .headerBtn:nth-child(odd) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
