.header {
    max-width: 1000px;
    width: calc(100% - 40px);
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 2px solid var(--black-600);
    background-color: var(--black-700);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    user-select: none;
    align-self: center;
}

.kronosHeaderTitle {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerBtnDiv {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid var(--black-600)
}

.headerBtn {
    background-color: var(--black-600);
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px;
    transition: all 0.2s;
}

.headerBtn:hover {
    background-color: var(--black-800);
    transform: scale(1.05);
}

.headerBtn:active {
    transform: scale(0.95);
    transition: all 0s;
}

.headerBtnDiv .headerBtn:nth-child(even) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.headerBtnDiv .headerBtn:nth-child(odd) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}